@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

/* FONT */
.font-gloria {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
/* ////////////////////////////////////////////////////////// */

.gambar1dan2 {
    width: 600px;
    height: 600px;
    flex-shrink: 0;
}
.content{
    font-size: small;
}
.content1{
    font-size: 24px;
}

.judulcontent{
    font-size:larger;
}

.fotospesialedition{
    width: 779px;
    height: 694px;
    flex-shrink: 0;   
}

.textspesial{
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.desktxtspesial {
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

.buttonkotak{
    background-color: #ddd;
    padding: 10px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: block;
    background-color: #bbb;
    margin: 10px;
    padding: 10px
}

.textfooter{
color: #FFF;
font-size: 24px;
font-weight: 400;
}

.gambarfooter{
    width: 428px;
    height: 438px;
    flex-shrink: 0;
}

.bayang{
    filter: drop-shadow(10px 7px 10px black);
}

.tentangkami{
    color:#22333B;
font-family: "Gloria Hallelujah";
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/* test */
.bold {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
  }
  
  #div1,
  #div3 {
    height: 80px;
    position: relative;
    padding-left: 5px;
  }
  
  #div2 {
    z-index: 1;
    position: relative;
    top: 20px;
    left: 80px;
    text-align: center;
  }
  
.sizefoto {
    height:603px ;
    width:430px ;
}

.sizefotomenu {
width: 295.98px;
height: 304px;
flex-shrink: 0;
}

.kotakan {
   
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.kotakan1 {
   
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.texticecoffee{
    color: var(--White, #FFF);
font-family: "Cera Round Pro DEMO";
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: 50px; /* 125% */


}

.svgmid{
    text-align: center;
    display: flex;
    justify-content: center;
    
}

html{
    scroll-behavior: smooth;
}